#tablediv{
    position: relative;
    margin-left: 600px;
    
}
.bid-form-container1{
    position:absolute;
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 5px;
    width: 300px;
    margin-left: 0px;
}
.bided-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .bided-table th,
  .bided-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .bided-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  