.payform {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: 500px;
    overflow: auto;
  }
  
  .payform h2 {
    margin-bottom: 10px;
  }
  
  .payform label {
    display: block;
    margin-bottom: 5px;
  }
  
  .payform input[type="text"],
  .payform input[type="email"],
  .payform input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .payform button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .payform button:hover {
    background-color: orange;
  }
  
  .payform button[type="submit"] {
    width: 100%;
  }
  