.log h2 {
    margin-bottom: 20px;
  }
  
  .log form {
    display: flex;
    flex-direction: row;
  }
  
  .log label {
    margin-bottom: 5px;
  }
  
  .log input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .log button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    margin-top: 25px;
  }
  
  .log button:hover {
    background-color: #0056b3;
  }
  